/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --font-family: 'IBM Plex Mono', monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}