/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --heading-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
}

/* Стили для автоматической светлой темы (когда выбрана в ОС) */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --text-color: #353430;
    --heading-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --rec-visibility: hidden;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
